<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.epam.esm.controller"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gifts"/>
        <property name="username" value="root"/>
        <property name="password" value="rebel15386183"/>
        <property name="initialSize" value="2" />
        <property name="maxActive" value="30" />
    </bean>

    <bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"/>
    </bean>

    <bean id="dao" class="com.epam.esm.dao.impl.CertificateDaoImpl">
        <property name="jdbcTemplate" ref="jt"/>
    </bean>
    <bean id="tagDao" class="com.epam.esm.dao.impl.TagDaoImpl">
        <property name="jdbcTemplate" ref="jt"/>
    </bean>

    <bean id="certificateLogic" class="com.epam.esm.logic.impl.CertificateLogicImpl">
        <property name="certificateDao" ref="dao"/>
    </bean>
    <bean id="tagLogic" class="com.epam.esm.logic.impl.TagLogicImpl">
        <property name="tagDao" ref="tagDao"/>
    </bean>

    <bean class = "org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name = "exceptionMappings">
            <props>
                <prop key = "com.epam.esm.controller.exceptions.UiControllerException">
                   error
                </prop>
            </props>
        </property>
        <property name = "defaultErrorView" value = "error"/>
    </bean>

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds" />
    </bean>
</beans>
